.restaurant {
  max-width: 70vw;
  margin: 50px auto;
  text-align: left;
}
.restaurant-back{
  font-size: large;
}
.restaurant-back:hover{
  color:var(--accent-color)
}

.restaurant-container-info > h1 {
  margin-bottom: 0;

  font-weight: var(--fw-medium);
}
.restaurant-container-info > p {
  word-wrap: break-word;
  margin:0;

  color: var(--secondary-text-color);
}
.restaurant-container-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-container-action > button {
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  color: var(--primary-color);
  background-color: var(--accent-color);
}
.restaurant-container-action > button:hover {
  background-color: var(--hover-color);
}
.restaurant-container-review {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.review-user-header > img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.review-user > p {
  /* line-height: 0.2; */
  margin-bottom: 0;
  word-wrap: break-word;
}
.review-user-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: var(--fw-bold);
}
.review-user-rating {
  color: yellow;
  background-color: green;
  height: fit-content;
  padding: 0px 10px;
  border-radius: 4px;
}
